<style>
    .btn {
        background-color: #ffffff;
        border: 1px solid #ffffff;
        color: #049DD9;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .btn:hover {
        background-color: #ffffff;
        border: 1px solid #ffffff;
        color: #049dd9d3;
    }

    .tit {
        margin-top: 5%;
        color: #ffffff;
    }
</style>
<h1 class="tit" style="text-align: center;">404</h1>
<br>
<a href="/" style="text-decoration: none;" title="Voltar">
    <br>
    <button class="btn btn-primary">Voltar a Home</button>
</a>