<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet"/>
    <style>
        * {
            font-family: 'Roboto', sans-serif;
        }

        #title {
            text-align: center;
            margin-top: 3%;
            font-size: 4.5vw;
        }
    </style>
</head>

<body>
    <h1 id="title">Aviso do Instituto Educacional Josival Penha</h1>
    <hr>
    {{{msg}}}
    <h4>Atenciosamente, Secretária Josival Penha</h4>
</body>