<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet"/>
    <style>
        * {
            font-family: 'Roboto', sans-serif;
        }

        body {
            padding: 1%;
        }

        #title {
            text-align: center;
            margin-top: 2%;
            font-size: 4.5vw;
        }
    </style>
</head>

<body>
    <header>
        <h1 id="title">Aviso do Instituto Educacional Josival Penha</h1>
    </header>
    <hr>
    <main>{{{msg}}}</main>
    <br>
    <footer>
        <h4>Atenciosamente, Secretária Josival Penha</h4>
    </footer>
</body>