{{#if voltar}}
    <btn-voltar voltar="{{voltar}}"></btn-voltar>
{{else}}
    <btn-voltar voltar="/"></btn-voltar>   
{{/if}}
<nav class="menu">
    <a href="/financeiro/gastos" class="btn-pd" title="Ver gastos">
        Ver gastos
        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-cash-stack" viewBox="0 0 16 16">
            <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
            <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z"/>
        </svg>
    </a>
    <a href="/financeiro/gastos/cadastrar?voltar=/financeiro" class="btn-pd" style="margin-bottom: 10%;">
        Cadastrar gasto
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle icone-esquerda-btn" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
    </a>
</nav>